services:
  discovery-service:
    image: discovery-service:latest
    build:
      context: ./discovery-service
      dockerfile: Dockerfile
    container_name: discovery-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8761:8761"
    networks:
      - spring-network

  user-service:
    image: user-service:latest
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8082:8082"
    networks:
      - spring-network

  product-service:
    image: product-service:latest
    build:
      context: ./product-service
      dockerfile: Dockerfile
    container_name: product-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8083:8083"
    networks:
      - spring-network

  collection-service:
    image: collection-service:latest
    build:
      context: ./collection-service
      dockerfile: Dockerfile
    container_name: collection-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8081:8081"
    networks:
      - spring-network

  gateway-service:
    image: gateway-service:latest
    build:
      context: ./gateway-service
      dockerfile: Dockerfile
    container_name: gateway-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    networks:
      - spring-network

networks:
  spring-network:
    driver: bridge
