spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=collectionservice
    username: user_collectionservice
    password: password_collectionservice
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
  liquibase:
    change-log: classpath:/changelog/db.changelog-master.yaml
    default-schema: collectionservice

  sql:
    init:
      mode: always
      data-locations: classpath:data-local.sql
jwt:
  secret: ${JWT_SECRET:YOUR_VERY_LONG_SECRET_HERE}
  expiration-ms: 604800000 # 7 days en ms
app:
  oauth2:
    redirect-url: http://localhost:8100/oauth2/callback
  services:
    user-service:
      url: http://user-service:8082
    product-service:
      url: http://product-service:8083
eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
