spring:
  application:
    name: collection-service
  profiles:
    active: ${env}
  cloud:
    discovery:
      enabled: true

server:
  port: 8091

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

