spring:
  cloud:
    discovery:
      enabled: true
  application:
    name: USER-SERVICE
  profiles:
    active: "@env@"
  mail:
    host: smtp.gmail.com
    port: 587
    username: MySyna.pro@gmail.com
    password: usun wzpk ipjt sosb
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

